################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/e2e-deployment/FileContentIndex
/obj
/Properties
